.venv*/
__pycache__/
.pytest_cache/
pytest-cache-files-*/
.ipynb_checkpoints/
*.py[cod]
*.duckdb
*.duckdb.wal
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
dashboard/*.pbix
dashboard/*.png
.env
